<h1 class="text-center">Choose which film's opening introduction to customize!</h1>

<div class ="opening-crawl-links">
  <%=link_to "Opening Crawl: Episode I", opening_crawls_path %></br>
  <%=link_to "Opening Crawl: Episode II", opening_crawls_path %></br>
  <%=link_to "Opening Crawl: Episode III", opening_crawls_path %></br>
  <%=link_to "Opening Crawl: Episode IV", opening_crawls_path %></br>
  <%=link_to "Opening Crawl: Episode V", opening_crawls_path %></br>
  <%=link_to "Opening Crawl: Episode VI", opening_crawls_path %></br>
  <%=link_to "Opening Crawl: Episode VII", opening_crawls_path %>
</div>